{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao Estuda.ai</h1>
    <p class="lead">Calcule sua média ponderada do ENEM e descubra as melhores oportunidades.</p>
    <hr class="my-4">
    <p>Comece agora mesmo!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'registrar' %}" role="button">Cadastre-se</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">Login</a>
</div>
{% endblock %}
