{% extends 'base.html' %}

{% block content %}
<h2>Inserir Notas do ENEM</h2>
<form method="post">
    {% csrf_token %}
    {% for disciplina in disciplinas %}
    <div class="card mb-3">
        <div class="card-header">
            {{ disciplina.nome }}
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="{{ disciplina.campo_nota }}">Nota</label>
                <input type="number" name="{{ disciplina.campo_nota }}" class="form-control" id="{{ disciplina.campo_nota }}" step="0.01" min="0" max="1000" required>
            </div>
            <div class="form-group">
                <label for="{{ disciplina.campo_peso }}">Peso</label>
                <input type="number" name="{{ disciplina.campo_peso }}" class="form-control" id="{{ disciplina.campo_peso }}" step="0.01" min="0" required>
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">Enviar Notas</button>
</form>
{% endblock %}
