body {
    padding-top: 70px; /* Espaço para a navbar fixa */
}

h1, h2 {
    margin-top: 20px;
}

.jumbotron {
    background-color: #e9ecef;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.btn-block {
    margin-top: 20px;
}
